<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-montserrat bg-gray-100">

<header class=bg-gray-800 text-white text-center py-4>
    <nav class="max-w-7xl mx-auto flex items-center justify-between px-4">
        <span class="text-2xl text-white">My Home</span>

        <div class="space-x-6">
            <a href="{% url 'accueil' %}" class="text-white hover:text-blue-800">Accueil</a>

{% if user.is_authenticated %}
    <a href="{% url 'maison' %}" class="text-white hover:text-blue-800">Maison</a>
    <a href="{% url 'profil' %}" class="text-white hover:text-blue-800">Mon profil</a>
    <a href="{% url 'regles' %}" class="text-white hover:text-blue-800">Règles</a>
    <a href="{% url 'ma_famille' %}" class="text-white hover:text-blue-800">Ma famille</a>

    
    {% if user.niveau in "avancé expert" %}
        <a href="{% url 'statistiques' %}" class="text-white hover:text-blue-800">Statistiques</a>
    {% endif %}

    {% if user.niveau == "expert" %}
        <a href="{% url 'liste_utilisateurs' %}" class="text-white hover:text-blue-800">Gérer les utilisateurs</a>
    {% endif %}

    <form action="{% url 'logout' %}" method="post" class="inline">
        {% csrf_token %}
        <button type="submit" class="text-white hover:text-blue-800">Se déconnecter</button>
    </form>
{% else %}
    <a href="{% url 'login' %}" class="text-white hover:text-blue-800">Connexion</a>
    <a href="{% url 'register' %}" class="text-white hover:text-blue-800">Inscription</a>
{% endif %}

        </div>
    </nav>
</header>

<main class="max-w-7xl mx-auto p-6">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-gray-800 text-white text-center py-4 mt-10">
    &copy; 2025 - Projet ING1
</footer>

</body>
</html>
